
:root{
    --background: #101114;
    --primary-color:#1c1d20;
    --secondary-color:#494949;
    --accent-color:#00ffc4;
    --text-color:#f9f9f9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}
body{
    min-height: 80vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    position: relative;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
h2{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color); 
}
.wrapper{
    width: 700px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    box-sizing: border-box;
    padding: 12px 20px;
    background:none;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    font: inherit;
    color: var(--accent-color);
    caret-color: var(--accent-color);
}
#todo-input{
    width: 100%;
    
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}
button{
    background-color: var(--accent-color);
    padding: 16px 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    font-weight: 800;
    color: var(--background);
    cursor: pointer;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;
}
.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    align-items: center;
    display: flex;
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}
.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill:rgb(158, 17, 17);
}
.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill:var(--primary-color)
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;
}

/*======================================signup============================*/

.game{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#guess-input{
    width:100%;
    text-align: center;
}
.game input[type="number"]::-webkit-outer-spin-button,
.game input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#check-button{
   margin: 20px 0;

}
.game h2{
    margin-top: 10px;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: #0000003f;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    
}
#game-over-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2;
}
#game-over-popup h2{
    margin: 0;
    padding: 0%;
}
#restart-button {
    width: 100%;
    
}